@import 'variables';
@import 'mixins';


body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 32.291%;
    height: 63.399%;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    transition: background-color 0.6s ease;
    @include responsive(1024px)
    {
        width: 100%;
        height: 32.031%;
    }
    @include responsive(767px)
    {
        height: auto;
        background-color: transparent;
    }
    .headerHolder {
        width: 100%;
        height: 100%;
        padding-left: 22.365%;
        padding-top: 40px;
        padding-right: 13.333%;
        padding-bottom: 40px;
        @include responsive(1024px)
        {
            padding-left: 48px;
            padding-right: 47px;
        }
        @include responsive(767px)
        {
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 21px;
        }
        .topHolder {
            display: flex;
            justify-content: space-between;
            .menuToggle {
                .nav-icon {
                    display: block;
                    width: 32px;
                    height: 22px;
                    position: absolute;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    z-index: 50;
                }
                .nav-icon.open {
                    width: 21px;
                    height: 22px;
                }
                .nav-icon span {
                    background-color: #1f2a4b;
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    transition: all 0.4s ease;
                }
                .nav-icon span:nth-child(1) {
                    top: 0px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
                .nav-icon span:nth-child(2) {
                    top: 8px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
                .nav-icon span:nth-child(3) {
                    top: 16px;
                    -webkit-transform-origin: left center;
                    -moz-transform-origin: left center;
                    -o-transform-origin: left center;
                    transform-origin: left center;
                }
                .nav-icon.open span:nth-child(1) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 0px;
                    left: 0px;
                    background: #1f2a4b;
                    width: 28px;
                }
                .nav-icon.open span:nth-child(2) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    top: 19px;
                    left: 0px;
                    background: #1f2a4b;
                    width: 27px;
                }
                .nav-icon.open span:nth-child(3) {
                    width: 0%;
                    opacity: 0;
                    background: #1f2a4b;
                }
            }
            .langMenu {
                text-align: center;
                margin: 0px 0px 14px 10px;
                @include responsive(767px)
                {
                    display: none;
                }
                .lang_menuList {
                    @include responsive(767px)
                    {
                        margin-left: 5px;
                    }
                    .lang_menuListItem {
                        font-size: 12px;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 1.4;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.4px;
                        text-align: center;
                        display: inline;
                        color: #8F806E;
                        margin-right: 11px;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:hover {
                           color: #1f2a4b; 
                        }
                    }
                    .lang_menuListItem.active {
                       color: #1f2a4b;
                        border-bottom: 1px solid #1f2a4b; 
                    }
                }
            }
            .logoBlockMob {
                display: none;
                @include responsive(767px)
                {
                    display: block;
                }
            }
        }
        .bottomHolder {
            padding-top: 95px;
            display: flex;
            flex-direction: column;
            height: 90%;
            @include responsive(1024px)
            {
                margin-left: 82px;
                margin-right: 82px;
                padding-top: 68px;
                flex-direction: row;
            }
            @include responsive(767px)
            {
                margin-left: 0;
                margin-right: 0;
                padding-top: 50px;
            }
            .logoBlock {
                .logo {
                    .logoImg {
                        display: none;
                    }
                    .logoImg.active {
                        display: block;
                    }
                }
            }
            .textBlock {
                position: relative;
                margin-top: auto;
                @include responsive(1024px)
                {
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 81px;
                }
                @include responsive(767px)
                {
                    display: none;
                }
                .textPara {
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.43;
                    letter-spacing: 0.3px;
                    color: #1f2a4b;
                }
            }
        }
    }
    .navWrapper {
        width: 32.291%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        min-height: 100%;
        height: 100vh;
        padding-top: 13%;
//        display: flex;
        transform: translateX(-100%);
        transition: ease 1s;
        @include responsive(1024px)
        {
            width: 100%;
            position: absolute;
            height: 100%;
            padding-top: 40px;
        }
        @include responsive(767px)
        {
            width: 100%;
        }
        @include responsive(767px)
        {
            position: fixed;
            padding: 100px 0% 0;
        }
        .navHolder {
            width: 100%;
            height: 100%;
            padding-left: 22.365%;
            padding-right: 13.333%;
            padding-bottom: 40px;
            position: relative;
            @include responsive(1024px)
            {
                display: flex;
                padding-left: 130px;
                padding-right: 59px;
                padding-bottom: 59px;
            }
            @include responsive(767px)
            {
                flex-direction: column;
                padding-left: 51px;
                padding-right: 59px;
                padding-bottom: 59px;
            }
            .navBlock {
    //            display: none;
                width: 100%;
                @include responsive(1024px)
                {
                    width: 70%;
                }
                @include responsive(767px)
                {
                    width: 100%;
                }
                .navBlockItem {
                    font-size: 21px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: 0.3px;
                    color: #1f2a4b;
                    position: relative;
                    width: 100%;
                    padding-left: 0px;
                    margin-bottom: 25px;
                    @include responsive(767px)
                    {
                        font-size: 18px;
                    }
                }
                .navBlockItem.active {
                    font-size: 30px;
                    font-weight: 500;
                    font-size: 21px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: 0.3px;
                    color: #1f2a4b;
                    @include responsive(767px)
                    {
                        font-size: 18px;
                    }
                }
                .specialNavBlockItem {
                    margin-top: 45px;
                }
            }
            .navBlock2 {
                @include responsive(1024px)
                {
                    width: 30%;
                }
                @include responsive(767px)
                {
                    width: 100%;
                }
                .socialLink {
                    display: flex;
                    align-content: center;
                    margin-top: 74px;
                    @include responsive(767px)
                    {
                        margin-top: 45px;
                    }
                    img {
                        margin-right: 11px;
                    }
                    span {
                        font-size: 16px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.3px;
                        color: #1f2a4b;
                        align-items: center;
                        display: flex;
                    }
                }
                .navLangMenu {
                    margin-top: 24px;
                    .navLangMenuUl {
                        display: flex;
                        .navLangMenu_item {
                            width: 30px;
                            height: 30px;
                            background-color: #ececec;
                            color: #1f2a4b;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            margin-right: 10px;
                            &:hover {
                                background-color: #1f2a4b;
                                color: #fff;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                            .navLangMenu_itemLink {
                                font-size: 14px;
                                font-weight: 300;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1;
                                letter-spacing: 0.2px;
                            }
                        }
                        .navLangMenu_item.active {
                            background-color: #1f2a4b;
                            color: #fff;
                        }
                    }
                }
                .navBottom {
                    position: absolute;
                    bottom: 30px;
                    .navBottom_para {
                        font-size: 14px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: 0.2px;
                        color: #1f2a4b;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}
.header.wheat {
    background-color: $wheat;
    transition: background-color 0.6s ease;
}
.header.blu {
    background-color: $blu;
    transition: background-color 0.6s ease;
    .headerHolder {
        .topHolder {
            .menuToggle {
                .nav-icon {
                    span {
                        background-color: #fff;
                        transition: all 0.3s ease;
                    }
                }
                .nav-icon.open {
                    span {
                        background-color: #1f2a4b;
                    }
                }
            }
            .langMenu {
                .lang_menuList {
                    .lang_menuListItem {
                        color: #fff;
                        opacity: 0.5;
                    }
                    .lang_menuListItem.active {
                        color: #fff;
                        border-bottom: 1px solid #fff;
                        opacity: 1;
                    }
                }
            }
        }
        .bottomHolder {
            .textBlock {
                .textPara {
                    color: #fff;
                }
            }
        }
    }
}

//    INDEX HOLDER
.pageHolder {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    &__mainBlock {
        width: 67.709%;
        height: 100%;
        background-color: #fff;
        order: 2;
        display: flex;
        right: 0;
        position: relative;
        @include responsive(1024px)
        {
            width: 100%;
            height: 40.820%;
            background-color: #fff;
            order: 1;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            margin-top: auto;
        }
        &__imgHolder {
            width: 100%;
            height: 81.699%;
            overflow-x: hidden;
            background-color: rgba(255, 255, 255, 0.5);
            position: relative;
            @include responsive(1024px)
            {
                width: 100%;
                height: 100%;
            }
            &__wrapper {
//                display: none;
                width: 200%;
                height: 100%;
                display: flex;
                transform: translateX(0%);
                position: absolute;
                opacity: 0;
                filter: blur(20px) grayscale(80%);
                animation: slide 5s cubic-bezier(0, 0, 0, 1) infinite;
                transition: all 0.7s cubic-bezier(0, 0, 0, 1);
                &--imgBlock {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    @include responsive(1500px)
                    {
                        width: auto;
                        height: 100%;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        @include responsive(1500px)
                        {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
            &__wrapper.active {
                display: flex;
                opacity: 1;
                filter: blur(0px) grayscale(0%);
            }
        }
        &__chooseStyle {
            width: 50%;
            height: 36.601%;
            position: absolute;
            left: 0;
            bottom: 0;
            @include responsive(1024px)
            {
                position: fixed;
                height: 27.149%;
                right: 0;
                bottom: 0;
                left: unset;
            }
            &__holder {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                &__block {
                    width: 100%;
                    height: 50%;
                    background-color: rgba(255, 0, 0, 0.5);
                    .modernRoomBtn {
                        background-color: $lightGray;
                        height: 100%;
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        transition: all 0.3s ease;
                        z-index: 10;
                        &--bg {
                            background-color: $wheat;
                            z-index: 15;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            transition: all 0.5s ease-out;
                        }
                        &--fourStars {
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            background-image: url(../images/4stars.svg);
                            width: 21px;
                            height: 23px;
                            z-index: 20;
                            opacity: 0;
                            transform: translateY(-15px);
                            transition: all 0.4s ease 0.5s;
                        }
                        &--nameStyle {
                            font-family: $mainFont;
                            font-size: 24px;
                            font-weight: 600;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.4px;
                            text-align: center;
                            color: $blu;
                            margin-bottom: 15px;
                            z-index: 20;
                            opacity: 1;
                            transition: all 0.3s ease;
                        }
                        &--viewStylePara {
                            font-family: $mainFont;
                            font-size: 14px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: 0.5px;
                            color: $blu;
                            justify-content: center;
                            display: flex;
                            z-index: 20;
                            opacity: 1;
                            transform: translateY(0px);
                            transition: all 0.3s ease;
                            position: absolute;
                            left: 0;
                            margin-top: 20px;
                            right: 0;
                        }
                        &--viewStyle {
                            font-family: $mainFont;
                            font-size: 14px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: 0.5px;
                            color: $blu;
                            z-index: 20;
                            display: flex;
                            justify-content: center;
                            opacity: 0;
                            transform: translateY(-20px);
                            transition: all 0.3s ease;
                            &--img {
                                padding-left: 20px;
                            }
                        }
                    }
                    
                    .classicRoomBtn {
                        background-color: $lightGray;
                        height: 100%;
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: relative;
                        overflow: hidden;
                        z-index: 10;
                        transition: all 0.3s ease;
                        &--bg {
                            background-color: $blu;
                            z-index: 15;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            transition: all 0.5s ease-out;
                        }
                        &--fourStars {
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            background-image: url(../images/4stars.svg);
                            width: 21px;
                            height: 23px;
                            z-index: 20;
                            opacity: 0;
                            transform: translateY(-15px);
                            transition: all 0.4s ease 0.5s;
                        }
                        &--nameStyle {
                            font-family: $classicFont;
                            font-size: 24px;
                            font-weight: 600;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.4px;
                            text-align: center;
                            color: $wheat;
                            z-index: 20;
                            margin-bottom: 15px;
                            opacity: 1;
                            transition: all 0.3s ease;
                        }
                        &--viewStylePara {
                            font-family: $mainFont;
                            font-size: 14px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: 0.5px;
                            color: $wheat;
                            justify-content: center;
                            display: flex;
                            z-index: 20;
                            opacity: 1;
                            transform: translateY(0px);
                            transition: all 0.3s ease;
                            position: absolute;
                            left: 0;
                            margin-top: 20px;
                            right: 0;
                        }
                        &--viewStyle {
                            font-family: $mainFont;
                            font-size: 14px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: 0.5px;
                            color: $wheat;
                            display: flex;
                            justify-content: center;
                            z-index: 20;
                            opacity: 0;
                            transform: translateY(20px);
                            transition: all 0.3s ease;
                            &--img {
                                padding-left: 20px;
                            }
                        }
                    }
                    .modernRoomBtn.notActive,
                    .classicRoomBtn.notActive {
                        background-color: $lightGray;
                        .modernRoomBtn--bg {
                            height: 0%;
                        }
                        .modernRoomBtn--nameStyle,
                        .classicRoomBtn--nameStyle {
                            opacity: 0.3;
                            color: $blu;
                        }
                        .modernRoomBtn--viewStylePara {
                            opacity: 0.3;
                            color: $blu;
                            transform: translateY(0px);
                        }
                        .classicRoomBtn--viewStylePara {
                            opacity: 0.3;
                            color: $blu;
                            transform: translateY(0px);
                        }
                        .modernRoomBtn--viewStyle,
                        .classicRoomBtn--viewStyle {
                            opacity: 0;
                            color: $blu;
                        }
                    }
                    .classicRoomBtn.notActive {
                        background-color: $lightGray;
                        .classicRoomBtn--bg {
                            transform: translateY(100%);
                        }
                    }
                    .modernRoomBtn.active,
                    .classicRoomBtn.active {
                        .modernRoomBtn--bg {
                            height: 100%;
                        }
                        .modernRoomBtn--fourStars,
                        .classicRoomBtn--fourStars {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                        .modernRoomBtn--viewStyle {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                        .classicRoomBtn--viewStyle {
                            opacity: 1;
                            transform: translateY(0px);
                        }
                        .modernRoomBtn--viewStylePara {
                            opacity: 0;
                            transform: translateY(-20px);
                        }
                        .classicRoomBtn--viewStylePara {
                            opacity: 0;
                            transform: translateY(20px);
                        }
                    }
                    .classicRoomBtn.active {
                        .classicRoomBtn--bg {
                            transform: translateY(0%);
                        }
                    }
                }
            }
        }
        &__bookRoom {
            width: 50%;
            height: 18.301%;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #fff;
            @include responsive(1024px)
            {
                display: none;
            }
            &__holder {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .para {
                    margin-bottom: 21px;
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.3px;
                    text-align: center;
                    color: $blu;
                }
                .bookRoomBtn {
                    width: 227px;
                    height: 40px;
                    &__link {
                        font-family: $mainFont;
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.5px;
                        color: #ffffff;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        background-color: $blu;
                        justify-content: space-between;
                        align-items: center;
                        padding: 8px 30px;
                        border-radius: 20px;
                        &--icon {
                            display: block;
                        }
                        &--iconDark {
                            display: none;
                        }
                    }
                }
                .bookRoomBtn.wheat {
                    .bookRoomBtn__link {
                        color: $blu;
                        background-color: $wheat;
                        .bookRoomBtn__link--icon {
                            display: none;
                        }
                        .bookRoomBtn__link--iconDark {
                            display: block;
                        }
                    }
                }
            }
        }
        &__miniImgHolder {
            width: 32.291%;
            height: 36.601%;
            background-color: #fff;
            order: 1;
            margin-top: auto;
            z-index: -1;
            overflow: hidden;
            position: relative;
            @include responsive(1024px)
            {
                width: 50%;
                height: 27.149%;
                order: 2;
                margin-top: 0;
            }
            &__wrapper {
                width: 200%;
                height: 100%;
                display: flex;
                position: absolute;
                transform: translateX(0%);
                animation: slideMini 5s cubic-bezier(0, 0, 0, 1) infinite;
                opacity: 0;
                filter: blur(20px) grayscale(80%);
                transition: all 0.7s cubic-bezier(0, 0, 0, 1);
                &--block {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &__wrapper.active {
                opacity: 1;
                filter: blur(0px) grayscale(0%);
            }
        }
    }
}

// ABOUT US
.aboutSection {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    &__imgHolder {
        width: 100%;
        height: 63.399%;
        padding-left: 32.291%;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;;
            @include responsive(1530px)
            {
                height: 100%;
                width: auto;
            }
        }
    }
    &__holder {
        width: 100%;
        height: 100%;
        display: flex;
        &__leftBlock {
            width: 32.291%;
            position: fixed;
            &--imgBlock {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                }
            }
        }
        &__rightBlock {
//            width: 67.709%;
            width: 100%;
            padding-left: 32.29%;
            &--textBlock {
                width: 100%;
                padding: 45px 9.375% 160px 8.333%;
                .title {
                    font-family: $mainFont;
                    font-size: 32px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 0.75;
                    letter-spacing: 0.3px;
                    color: $blu;
                    margin-bottom: 50px;
                }
                .innerTextBlock {
                    width: 100%;
                    margin-bottom: 45px;
                    .miniTitle {
                        font-family: $mainFont;
                        font-size: 24px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.3px;
                        color: $blu;
                        margin-bottom: 15px;
                    }
                    .para {
                        font-family: $mainFont;
                        font-size: 14px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.43;
                        letter-spacing: 0.3px;
                        color: $blu;
                        margin-bottom: 25px;
                    }
                }
                .innerLocationBlock {
                    width: 100%;
                    margin-top: 90px;
                    margin-bottom: 80px;
                    .miniTitle {
                        font-family: $mainFont;
                        font-size: 24px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.3px;
                        color: $blu;
                        margin-bottom: 33px;
                    }
                    .locationHolder {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        padding-right: 10%;
                        &__block {
                            width: 50%;
                            position: relative;
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;
                            &--img {
                                margin-right: 22px;
                            }
                            &--name {
                                font-family: $mainFont;
                                font-size: 14px;
                                font-weight: 300;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.43;
                                letter-spacing: 0.3px;
                                color: #1f2a4b;
                            }
                        }
                    }
                }
            }
        }
    }
}


                
                
//    REVIEWS BLOCK                
.innerReviewsBlock {
    width: 100%;
    padding-right: 5%;
    .miniTitle {
        font-family: $mainFont;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 0.3px;
        color: #1f2a4b;
        margin-bottom: 44px
    }
    .reviewsHolder {
        width: 100%;
        display: flex;
        flex-direction: column;
        &__block {
            width: 100%;
            display: flex;
            padding-bottom: 26px;
            border-bottom: 1px solid #ececec;
            margin-bottom: 26px;
            &__leftBlock {
                width: 20.862%;
                padding-right: 29px;
                .name {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.29;
                    letter-spacing: 0.3px;
                    color: $blu;
                    margin-bottom: 17px;
                }
                .date {
                    font-family: $mainFont;
                    font-size: 12px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.17;
                    letter-spacing: 0.3px;
                    color: $blu;
                    margin-bottom: 15px;
                }
            }
            &__rightBlock {
                width: 79.138%;
                .title {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: 0.3px;
                    color: $blu;
                    margin-bottom: 10px;
                }
                .para {
                    font-family: $mainFont;
                    font-size: 12px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    letter-spacing: 0.3px;
                    color: $blu;
                }
            }
        }
    }
    .loadMoreHolder {
        padding: 22px 0 0 19.902%;
        .loadMore {
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
            .words {
                font-family: $mainFont;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.17;
                letter-spacing: 0.4px;
                color: #1f2a4b;
                margin-right: 8px;
            }
            img {
                transform: rotate(90deg);
                width: 10px;
                height: 6px;
            }
        }
    }
}

.contactSection {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    &__mapHolder {
        width: 100%;
        height: 63.399%;
        padding-left: 32.291%;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;;
            @include responsive(1530px)
            {
                height: 100%;
                width: auto;
            }
        }
    }
    &__fixedBottomLeftHolder {
        width: 32.291%;
        position: fixed;
        left: 0;
        bottom: 0;
        img {
            width: 100%;
        }
    }
    &__holder {
        width: 100%;
        padding-left: 32.29%;
        &__rightBlock {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 45px 8.3333%;
            &__inner {
                width: 30%;
                .title {
                    font-family: $mainFont;
                    font-size: 18px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    letter-spacing: 0.2px;
                    color: $blu;
                    margin-bottom: 20px;
                }
                .para {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.43;
                    letter-spacing: 0.3px;
                    color: $blu;
                }
            }
        }
        &__contactBlock {
            width: 100%;
            padding: 68px 8.3333% 160px;
            .title {
                font-family: $mainFont;
                font-size: 24px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: 0.3px;
                text-align: center;
                color: $blu;
                margin-bottom: 40px;
            }
            &--contactForm {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 16.66%;
                .inputFieldBlock {
                    position: relative;
                    .inputField {
                        width: 100%;
                        margin-top: 5px;
                        font-family: $mainFont;
                        font-size: 14px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.3px;
                        color: $blu;
                        padding: 8px 0;
                        border: none;
                        border-bottom: solid 1px #ececec;
                        margin-bottom: 37px;
                        &:placeholder {
                            color: $blu;
                        }
                    }
                    .textareaName {
                        font-family: $mainFont;
                        font-size: 14px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.3px;
                        color: $blu;
                        margin-bottom: 8px;
                    }
                    .textAreaField {
                        width: 100%;
                        font-size: 12px;
                        padding: 12px;
                        font-family: $mainFont;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.3px;
                        margin-bottom: 37px;
                        color: $blu;
                        &:placeholder {
                            color: $blu;
                        }
                    }
                    .invalid-feedback {
                        position: absolute;
                        left: 0;
                        bottom: 20px;
                        color: #ff0033;
                        font-size: 10px;
                        opacity: 0;
                        transition: all 0.5s ease;
                    }
                }
                .inputFieldBlock.is-invalid {
                    .invalid-feedback {
                        opacity: 1;
                    }
                }
                .submitBtn {
                    width: 227px;
                    height: 40px;
                    border-radius: 15px;
                    background-color: #1f2a4b;
                    border: none;
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #ffffff;
                    margin: 30px auto 0;
                }
            }
        }
    }
}

//    ROOM INNER
.roomInnerSection {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    &__carouselWrapper {
        width: 100%;
        height: 63.399%;
        padding-left: 34.375%;
        padding-right: 7.291%;
        overflow: hidden;
        position: relative;
        &__holder {
            background-color: $blu;
            height: 100%;
            &__block {
                width: 100%;
                height: 100%;
                max-height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .slick-dots {
                position: absolute;
                top: 10px;
                width: auto;
                right: 20px;
                li {
                    margin: 0;
                }
            }
        }
    }
    .carouselNav {
        width: 200px;
        height: 46px;
        position: absolute;
        top: 63.399%;
        right: 7.291%;
        &__holder {
            width: 100%;
            height: 100%;
            display: flex;
            &__leftBlock {
                width: 50%;
                background-color: #F00;
                .prevBtn {
                    width: 100%;
                    height: 100%;
                    border: none;
                    cursor: pointer;
                    font-family: $mainFont;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.17;
                    letter-spacing: 0.4px;
                    padding: 0 13px;
                    color: #1f2a4b;
                    background-color: #ececec;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: all 0.5s ease;
                    &:hover {
                        background-color: #E2DFDF;
                    }
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
            &__rightBlock {
                width: 50%;
                background-color: #00F;
                .nextBtn {
                    width: 100%;
                    height: 100%;
                    border: none;
                    cursor: pointer;
                    font-family: $mainFont;
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.17;
                    letter-spacing: 0.4px;
                    padding: 0 13px;
                    color: #1f2a4b;
                    background-color: #ececec;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: all 0.5s ease;
                    &:hover {
                        background-color: #E2DFDF;
                    }
                }
            }
        }
    }
    &__fixedBottomLeftHolder {
        width: 32.291%;
        position: fixed;
        height: 36.61%;
        overflow: hidden;
        left: 0;
        bottom: 0;
        &__holder {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 65px 17.291% 0;
            height: 100%;
            .textBlock {
                margin-bottom: 35px;
                padding: 0 10%;
                .para {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.3px;
                    color: $blu;
                }
            }
            .btnBlock {
                &__link {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 30px;
                    width: 227px;
                    height: 39px;
                    border-radius: 15px;
                    background-color: #fed594;
                    .text {
                        font-family: $mainFont;
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.5px;
                        color: $blu;
                    }
                }
            }
        }
    }
    &__bottomHolder {
        width: 100%;
        height: 36.61%;
        padding-left: 34.375%;
        padding-right: 7.291%;
        padding-top: 84px;
        &__titleHolder {
            padding-left: 8.2083%;
            .title {
                font-family: $mainFont;
                font-size: 32px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.13;
                letter-spacing: 0.4px;
                color: $blu;
            }
        }
        &__infoHolder {
            width: 100%;
            padding-top: 39px;
            padding-left: 8.2083%;
            display: flex;
            &__block {
                display: flex;
                flex-direction: column;
                padding-right: 40px;
                .name {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: 0.3px;
                    color: $blu;
                    margin-bottom: 15px;
                }
                .ratingHolder {
                    display: flex;
                    &__block {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        width: 10px;
                        height: 10px;
                        margin-right: 2px;
                    }
                    .fullStar {
                        background-image: url('../images/star_blue.svg');
                    }
                    .halfStar {
                        background-image: url('../images/star_blue_half.svg');
                    }
                    .grayStar {
                        background-image: url('../images/star_grey.svg');
                    }
                }
                .info {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: 0.3px;
                    color: $blu;
                }
            }
            
        }
    }
} 


// RATING STARS
.ratingHolder {
    display: flex;
    &__block {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }
    .fullStar {
        background-image: url('../images/star_blue.svg');
    }
    .halfStar {
        background-image: url('../images/star_blue_half.svg');
    }
    .grayStar {
        background-image: url('../images/star_grey.svg');
    }
}

.slick-list {
    height: 100%;
    .slick-track {
        height: 100%;
    }
}

.roomInnerMoreInfoSection {
    width: 100%;
    position: relative;
    padding-top: 68px;
    padding-left: 34.375%;
    padding-right: 7.291%;
    &__holder {
        width: 100%;
        display: flex;
        margin-bottom: 70px;
        &__leftBlock {
            width: 42%;
            padding-left: 8.2083%;
            .title {
                font-family: $mainFont;
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: 0.2px;
                color: $blu;
                margin-bottom: 20px;
            }
            .para {
                font-family: $mainFont;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                letter-spacing: 0.3px;
                color: $blu;
            }
            ul {
                li {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: 0.3px;
                    color: $blu;
                    margin-bottom: 10px;
                }
            }
            ul {
                margin: 0;
            }
            ul.dashed {
                list-style-type: none;
            }
            ul.dashed > li {
                text-indent: 0px;
            }
            ul.dashed > li:before {
                content: "-";
                text-indent: 0px;
            }
        }
        &__rightBlock {
            width: 58%;
            padding-left: 8.2083%;
            .title {
                font-family: $mainFont;
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: 0.2px;
                color: $blu;
                margin-bottom: 20px;
            }
            .roomInfoHolder {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                &__block {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .icon {
                        margin-right: 15px;
                    }
                    .name {
                        font-family: $mainFont;
                        font-size: 14px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 0.3px;
                        color: $blu;
                    }
                }
            }
        }
    }
    &__reviewsHolder {
        width: 100%;
        padding-left: 8.2083%;
        padding-bottom: 70px;
    }    
    &__commentHolder {
        width: 100%;
        padding-left: 8.2083%;
        padding-bottom: 150px;
        .title {
            font-family: $mainFont;
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: 0.2px;
            color: $blu;
            margin-bottom: 45px;
        }
        &__formHolder {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .inputBlock {
                width: 50%;
                position: relative;
                margin-bottom: 47px;
                &:nth-child(odd){
                    padding-right: 15px;
                }
                &:nth-child(even){
                    padding-left: 15px;
                    .invalid-feedback {
                        margin-left: 15px;
                    }
                }
                .inputField {
                    width: 100%;
                }
                .textAreaField {
                    width: 100%;
                }
                .inputBlockName {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: 0.3px;
                    color: $blu;
                    margin-bottom: 8px;
                }
                .invalid-feedback {
                    position: absolute;
                    left: 0;
                    bottom: -20px;
                    color: #ff0033;
                    font-size: 10px;
                    opacity: 0;
                    transition: all 0.5s ease;
                }
                &__checkboxHolder {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 22px;
                    .checkboxBlock {
                        width: 40%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        &:nth-child(odd){
                            padding-right: 15px;
                        }
                        &:nth-child(even){
                            padding-left: 15px;
                        }
                        .checkboxInput {
                            display: none;
                        }
                        .inputLabel {
                            width: 12px;
                            height: 12px;
                            position: relative;
                            border-radius: 50%;
                            border: solid 1px rgba(155, 155, 155, 0.5);
                            margin-right: 13px;
                            cursor: pointer;
                            &::after {
                                content: '';
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #fed594;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                                opacity: 0;
                                transition: all 0.5s ease;
                            }
                        }
                        .inputLabel.active {
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes slide {
    0%,100% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(0%);        
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-50%);
    }       
}
@keyframes slideMini {
    0%,100% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(0%);        
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-50%);
    }       
}